.btn {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0.8rem 1.2rem;
  font-family: inherit;
  border-radius: 0.7rem;
}

.light-btn {
  background-color: transparent;
  border: 1px solid #dddddd;

  &:hover {
    border: 1px solid text(light);
  }
}

.dark-btn {
  background-color: bg(dark);
  border: 1px solid bg(dark);
  color: #fff;
  font-size: 1.03rem;
  padding: 0.9rem 1.3rem;

  &:hover {
    background-color: bg(blue);
    border: 1px solid bg(blue);
  }
}