$bgcolors : (
  color1: #f9f9f9,
  color2: #f7f0ff,
  color3: #0d60d8,
  color4: #0c1825,
);

$textcolors : (
  color1: #727272,
  color2: #7913e5,
  color3: #0d60d8,
  color4: #0000ee,
  color5: #083e9e,
  color6: #353535,
  color7: #0c1825,
)