$bgcolors : (
  light: #f9f9f9,
  blue: #0d60d8,
  blue-light: #e0efff,
  purple-light: #f7f0ff,
  dark: #0c1825,
);

$textcolors : (
  light: #727272,
  purple: #7913e5,
  blue-light: #0d60d8,
  blue-plain: #0000ee,
  blue-dull: #083e9e,
  dark: #353535,
  very-dark: #0c1825,
);

@function bg($color){
  @return map-get($bgcolors, $color)
};

@function text($color){
  @return map-get($textcolors, $color)
};



$mobile: 550px;
$tablet: 769px;
$notebook: 992px;

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin notebook {
  @media (max-width: #{$notebook}) {
    @content;
  }
}



h1, h2, h3, h4, h5, h6 {
  color: text(very-dark);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 1.7;
  color: text(dark);
  font-size: 1rem;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}