@import 'config';
@import 'buttons';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s ease;
  font-family: 'DM Sans', sans-serif;
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  min-height: 100vh;
  font-size: 16.5px;
  color: text(dark);
  position: relative;
}

nav#nav {

  padding: 1.5rem 0;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  &.shadow {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
    position: relative;

    .logo {
      z-index: 1000;

      img {
        width: 200px;

        @include mobile {
          width: 160px;
        }
      }
    }

    & > div {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      
      .navlinks {
        display: flex;
        gap: 2.5rem;
      }
      
      .navbuttons {
        button {
          font-weight: 500;
          padding: 0.9rem 1.3rem;
          font-size: 1.03rem;
        }
        
        .light-btn:hover {
          border: 1px solid text(blue-light);
          color: text(blue-light);
        }
        
        .dark-btn {
          margin-left: 0.5rem;
        }
      }

      @include notebook {
        display: block;
        position: absolute;
        top: -100vh;
        right: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        z-index: 100;
        padding: 10rem 2rem 2rem;
        text-align: center;

        &.active {
          top: 0;
        }

        .navlinks {
          display: block;
          text-align: center;

          li {
            line-height: 3.7;

            @include mobile {
              line-height: 3;
            }
          }
        }

        .navbuttons {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;

          .dark-btn {
            margin-left: 0;
          }
        }
      }

      @include mobile {
        padding: 4rem 1rem;
      }
    }

    #menu-btn {
      z-index: 100;
      cursor: pointer;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 1.5rem;
      border: none;
      outline: none;
      padding: 0.2rem;
      background: transparent;

      .line {
        display: inline-block;
        width: 1.7rem;
        height: 3px;
        background-color: bg(dark);
      }

      @include notebook {
        display: flex;

        &.active, & .line {
          transition: all 0.3s ease-in-out;
        }

        &.active {
          transition-delay: 0.2s;
          transform: rotate(45deg);

          .line:first-child {
            transform: translateY(10px);
          }

          .line:nth-child(2) {
            width: 0;
          }

          .line:last-child {
            transition-delay: 0.2s;
            transform: translateY(-5px) rotate(-90deg);
          }
        }
      }
    }
  }
}

section#hero {
  padding: 10rem 0 5rem;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 3rem;

    @include notebook {
      grid-template-columns: 1fr;
      gap: 5rem;
    }

    .hero__text {

      .text {
        margin-bottom: 1.5rem;
        text-align: left;
        max-width: 500px;

        @include notebook {
          text-align: center;
          margin: 0 auto 1.5rem;
        }

        h1 {
          font-size: 3.7rem;
          line-height: 1.4;
          margin-bottom: 1rem;

          @include mobile {
            font-size: 2.5rem;
          }
        }

      }

      .buttons {

        @include notebook {
          text-align: center;
        }

        .dark-btn {
          margin-bottom: 1.5rem;

        }
        .btn-group {
          display: flex;

          @include notebook {
            justify-content: center;
          }

          @include mobile {
            flex-wrap: wrap;
            gap: 1rem;
          }

          .btn {
            margin-right: 1rem;
            display: flex;
            align-items: center;
            padding: 0.6rem 1.2rem;

            &:hover {
              transform: translateY(-3px);
            }

            img {
              width: 20px;
              margin-right: 0.5rem;
            }
          }
        }
      }

      
    }

    .hero__image {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
      height: 100%;

      .images {

        position: relative;
        width: auto;
        height: 100%;

        @include mobile {
          margin-left: 2rem;
        }

        .rect, .girl, .cross, .circle, .card, .dots {
          position: absolute;
          display: block;
        }
  
        .rect {
          height: 34rem;
          width: 100%;
          max-width: 400px;
          left: 5%;
          position: relative;
        }
  
        .girl {
          height: 30rem;
          border-radius: 1rem;
          top: 5%;
          left: -8%;
          object-fit: cover;
        }
  
        .cross {
          top: 0;
          left: -15%;
        }

        .dots {
          bottom: 15%;
          left: -10%;
        }

        .circle {
          top: 30%;
          right: 5%;
          z-index: 10;
        }
  
        .card {
          width: 200px;
          z-index: 10;
        }
  
        .card1 {
          top: 25%;
          left: -8rem;

          @include mobile {
            left: -5rem;
          }
        }
  
        .card2 {
          bottom: 1rem;
          right: -10%;

          @include mobile {
            bottom: 3rem;
            right: 0;
          }
        }
      }

    }
  }
}

section#security {
  padding: 4rem 0;

  .container {
    display: flex;
    align-items: center;
    gap: 2rem;
    max-width: 850px;

    @include notebook {
      flex-direction: column;
      text-align: center;
    }

    .security__image {
      width: 100px;
    }

    .security__text {
      h3 {
        font-size: 2.2rem;
        margin-bottom: 1rem;

        @include mobile {
          font-size: 2rem;
        }
      }

      p {
        margin-bottom: 1.5rem;
      }

      #learn-more-btn {
        color: text(blue-plain);
      }

      #learn-more-btn:hover {
        border-bottom: 5px solid bg(blue-light);
      }
    }
  }
}

section#savings {
  padding: 2rem 0;
  margin-top: 5rem;

  .container {
    display: flex;
    gap: 1rem;

    @include notebook {
      flex-direction: column;
      align-items: center;
      gap: 5rem;
    }

    .savings__ways {
      flex: 0 0 35%;

      .content {
        max-width: 300px;

        @include notebook {
          text-align: center;
        }

        h3 {
          font-size: 2.4rem;
          margin-bottom: 1rem;

          @include mobile {
            font-size: 2rem;
          }
        }
  
        p {
          margin-bottom: 2rem;
        }
      }
    }

    .savings__grid {
      flex: 0 0 65%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2rem;

      @include notebook {
        padding: 0 1rem;
        grid-gap: 3rem;
      }

      @include tablet {
        grid-gap: 1rem;
        padding: 0 0.5rem;
      }

      @include mobile {
        grid-template-columns: 1fr;
        grid-gap: 2rem;
      }

      .grid-item {
        display: inline-block;
        max-width: 350px;

        &:hover .plan-btn {
          margin-left: 1rem;
        }

        .savings__plan {
          border-radius: 1rem;
          background-color: bg(light);
          padding: 1.4rem 1.8rem;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          @include notebook {
            align-items: center;
            text-align: center;
          }

          &>img {
            width: 45px;
            margin-bottom: 1.8rem;
          }

          h4 {
            font-size: 1.3rem;
            margin-bottom: 1.2rem;
          }

          p {
            margin-bottom: 2rem;
          }

          .plan-btn {
            display: inline-flex;
            align-items: center;
            border: none;
            outline: none;
            background-color: transparent;
            font-size: 1rem;

            img {
              width: 35px;
              margin-right: 0.5rem;
            }
          }
        }

      }
    }
  }
}

section#investments {
  padding: 5rem 0 8rem;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;

    @include notebook {
      grid-template-columns: 1fr;
      grid-gap: 5rem;
      justify-items: center;
    }

    .investments__image {
      position: relative;
      width: auto;
      display: flex;
      justify-content: center;

      @include notebook {
        width: 70%;
      }

      @include mobile {
        width: 100%;
      }

      .circle, .dots {
        position: absolute;
      }

      .phone {
        width: 100%;
        max-width: 250px;
        height: 100%;
        z-index: 10;
      }

      .circle {
        left: 0;
        top: 20%;
      }

      .dots {
        top: 0;
        right: 10%;
      }
    }

    .investments__text {
      max-width: 600px;

      @include notebook {
        text-align: center;
      }

      span {
        display: inline-block;
        background-color: bg(purple-light);
        padding: 0.6rem 1.5rem;
        border-radius: 2rem;
        color: text(purple);
        font-weight: 600;
        margin-bottom: 2rem;
      }

      h2 {
        font-size: 3rem;
        margin-bottom: 1.5rem;

        @include mobile {
          font-size: 2.2rem;
        }
      }

      p {
        margin-bottom: 1.5rem;
      }

      #learn-more-btn {
        color: text(purple);
      }

      #learn-more-btn:hover {
        border-bottom: 5px solid bg(purple-light);
      }
    }
  }
}

section#saver {
  .wrapper {
    display: flex;

    @include notebook {
      flex-direction: column;
    }

    .saver-left {
      flex: 0 0 60%;
      background-color: bg(blue);
      padding: 6rem 1rem;

      .content {
        max-width: 480px;
        margin: 0 auto;

        @include notebook {
          text-align: center;
        }

         h2 {
           color: #fff;
           font-size:3rem;
           margin-bottom: 1.2rem;

           @include mobile {
             font-size: 2rem;
           }
         }

         p {
           color: #fff;
           margin-bottom: 2.8rem;
         }

         #meet-btn {
           color: #fff;
           display: inline-flex;
           align-items: center;

           &:hover {
             margin-left: 0.5rem;
           }

           img {
             width: 30px;
             margin-right: 0.5rem;
           }
         }
       }
     }
    

    .saver-right {
      flex: 0 0 40%;
      background: url('../images/saver.png') no-repeat center center/cover;
      height: auto;

      @include notebook {
        min-height: 400px;
      }
    }
  }
}

section#customers {
  padding: 8rem 0;

  .container {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    grid-gap: 2rem;
    align-items: center;

    @include notebook {
      grid-template-columns: 1fr;
      grid-gap: 5rem;
      grid-template: 
        "customers_text"
        "reviews";

      .reviews {
        grid-area: reviews;
      }

      .customers__text {
        grid-area: customers_text;
      }
    }

    .reviews {
      height: 400px;
      width: auto;
      overflow-y: hidden;
      padding: 0 1rem;
      position: relative;

      @include notebook {
        margin: 0 auto;
      }

      @include mobile {
        padding: 0;
      }

      &::before {        
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        z-index: 5;
        background-image: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
      }

      &::after {
        content: " ";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        z-index: 5;
        background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
      }

      .reviews__box {

        animation: slide 30s linear infinite;

        .review__single {
          background-color: bg(light);
          padding: 1.5rem;
          margin-bottom: 1rem;
          max-width: 450px;

          @include mobile {
            padding: 0.8rem;
          }

          .date {
            font-size: 0.78rem;
            text-align: right;
            margin-bottom: 1rem;
            color: text(light);
          }

          .review__content {
            display: flex;
            gap: 0.8rem;

            .profile {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
            }

            .review__text {
              .review__name {
                display: inline-block;
                font-weight: 700;
                font-size: 0.8rem;
                margin-bottom: 1rem;
              }

              p {
                font-size: 0.78rem;
                line-height: 1.8;
              }
            }
          }
        }
      }
    }

    .customers__text {

      @include notebook {
        text-align: center;
      }

      h3 {
        font-size: 2.2rem;
        margin-bottom: 1.5rem;

        @include mobile {
          font-size: 1.8rem;
        }
      }

      p {
        margin-bottom: 1.5rem;
        max-width: 400px;

        @include notebook {
          margin: 0 auto 1.5rem;
        }
      }

      .buttons {
        .dark-btn {
          margin-bottom: 1.5rem;
        }
        .btn-group {
          display: flex;

          @include notebook {
            justify-content: center;
          }

          @include mobile {
            flex-wrap: wrap;
            gap: 1rem;
          }

          .btn {
            margin-right: 1rem;
            display: flex;
            align-items: center;
            padding: 0.6rem 1.2rem;
            font-size: 0.9rem;

            &:hover {
              transform: translateY(-3px);
            }

            img {
              width: 20px;
              margin-right: 0.5rem;
            }
          }
        }
      }
    }
  }
}

section#featured {
  background-color: bg(light);
  padding: 4rem 0;

  .featured__row {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    @include notebook {
      flex-wrap: wrap;
      justify-content: center;
    }

    h3 {
      font-size: 2.2rem;

      @include mobile {
        font-size: 2rem;
      }
    }

    .featured__companies {
      display: flex;
      align-items: center;
      gap: 2rem;

      @include tablet {
        flex-wrap: wrap;
        justify-content: center;
      }

      a img {
        width: 180px;

        @include mobile {
          font-size: 150px;
        }
      }
    }
  }
}

footer#footer {
  padding: 5rem 0 3rem;

  .footer__inner {

    p, a {
      font-size: 0.8rem;
    }

    .footer__row {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1.2fr;
      grid-gap: 2rem;
      margin-bottom: 2rem;

      @include notebook {
        grid-template-columns: 1fr 1fr;
        grid-template: 
          "logo ."
          "products company"
          "legal ."
          "contact contact";

        .footer__logo{
          grid-area: logo;
        }
        .footer__products{
          grid-area: products;
        }
        .footer__company{
          grid-area: company;
        }
        .footer__legal{
          grid-area: legal;
        }
        .footer__contact{
          grid-area: contact;
        }
      }

      .footer__logo img {
        width: 200px;
      }

      .footer__links {
        li {
          line-height: 2.5;

          @include mobile {
            line-height: 1.8;
          }

          a:hover {
            color: text(blue-plain);
          }
        }

        li:first-child {
          font-weight: 700;
          margin-bottom: 0.3rem;
        }
      }

      .footer__contact {
        text-align: right;
        width: 100%;

        @include notebook {
          text-align: left;
        }

        .socials {
          display: flex;
          justify-content: flex-end;
          gap: 0.7rem;
          margin-bottom: 1.2rem;

          @include notebook {
            justify-content: flex-start;
          }

          a i {
            font-size: 1.5rem;
          }

          a:hover {
            transform: translateY(-5px);
          }
        }

        .location {
          margin-bottom: 0.5rem;
        }

        .mail, .phone {
          display: block;
          margin-bottom: 0.8rem;
        }

        .mail:hover, .phone:hover {
          color: text(blue-plain);
        }
      }


    }

    .footer__about {
      max-width: 750px;
      margin: 0 auto;
      text-align: center;

      .about__text {
        margin-bottom: 2rem;
        line-height: 1.7;
      }

      .copy {
        color: text(blue-dull);
      }
    }
  }
}



@keyframes slide {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-350px);
  }
}