@import 'config';
@import 'buttons';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s ease;
  font-family: 'DM Sans', sans-serif;
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  min-height: 100vh;
  font-size: 16.5px;
}

nav#nav {

  padding: 1rem 0;
  background-color: #fff;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;

    .logo {
      img {
        width: 170px;
      }
    }

    & > div {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .navlinks {
        display: flex;
        gap: 2.5rem;
      }

      .navbuttons {
        button {
          font-weight: 500;
          padding: 0.9rem 1.3rem;
          font-size: 1.03rem;
        }

        .light-btn:hover {
          border: 1px solid text(blue-light);
          color: text(blue-light);
        }

        .dark-btn {
          margin-left: 0.5rem;
        }
      }
    }
  }
}

section#hero {
  padding: 5rem 0;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;

    .hero__text {
      .text {
        margin-bottom: 1.5rem;
        text-align: left;
        max-width: 500px;

        h1 {
          font-size: 3.7rem;
          line-height: 1.4;
          margin-bottom: 1rem;
        }

      }

      .buttons {
        .dark-btn {
          margin-bottom: 1.5rem;
        }
        .btn-group {
          display: flex;

          .btn {
            margin-right: 1rem;
            display: flex;
            align-items: center;
            padding: 0.6rem 1.2rem;

            &:hover {
              transform: translateY(-3px);
            }

            img {
              width: 20px;
              margin-right: 0.5rem;
            }
          }
        }
      }
    }

    .hero__image {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
      height: 100%;

      .images {

        position: relative;
        width: auto;
        height: 100%;

        .rect, .girl, .cross, .circle, .card, .dots {
          position: absolute;
          display: block;
        }
  
        .rect {
          height: 35rem;
          left: 5%;
          position: relative;
        }
  
        .girl {
          top: 5%;
          left: -8%;
        }
  
        .cross {
          top: 0;
          left: -15%;
        }

        .dots {
          bottom: 15%;
          left: -10%;
        }

        .circle {
          top: 30%;
          right: 0;
          z-index: 10;
        }
  
        .card {
          width: 200px;
          z-index: 10;
        }
  
        .card1 {
          top: 30%;
          left: -8rem;
        }
  
        .card2 {
          bottom: 1rem;
          right: -10%;
        }
      }

    }
  }
}

section#security {
  padding: 4rem 0;

  .container {
    display: flex;
    align-items: center;
    gap: 2rem;
    max-width: 850px;

    .security__image {
      width: 110px;
    }

    .security__text {
      h3 {
        font-size: 2.2rem;
        margin-bottom: 1rem;
      }

      p {
        margin-bottom: 1.5rem;
      }

      #learn-more-btn {
        color: text(blue-plain);
      }

      #learn-more-btn:hover {
        border-bottom: 5px solid bg(blue-light);
      }
    }
  }
}

section#savings {
  padding: 2rem 0;
  margin-top: 5rem;

  .container {
    display: flex;
    gap: 1rem;

    .savings__ways {
      flex: 0 0 35%;
      padding-right: 2rem;

      h3 {
        font-size: 2.4rem;
        margin-bottom: 1rem;
      }

      p {
        margin-bottom: 1.5rem;
      }
    }

    .savings__grid {
      flex: 0 0 65%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2rem;

      .grid-item {
        display: inline-block;

        &:hover .plan-btn {
          margin-left: 1rem;
        }

        .savings__plan {
          border-radius: 1rem;
          background-color: bg(light);
          padding: 1.4rem 1.8rem;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          &>img {
            width: 45px;
            margin-bottom: 1.8rem;
          }

          h4 {
            font-size: 1.3rem;
            margin-bottom: 1.2rem;
          }

          p {
            margin-bottom: 1.5rem;
          }

          .plan-btn {
            display: inline-flex;
            align-items: center;
            border: none;
            outline: none;
            background-color: transparent;
            font-size: 1rem;

            img {
              width: 35px;
              margin-right: 0.5rem;
            }
          }
        }

      }
    }
  }
}

section#investments {
  padding: 5rem 0 8rem;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;

    .investments__image {
      position: relative;
      width: auto;
      display: flex;
      justify-content: center;

      .circle, .dots {
        position: absolute;
      }

      .phone {
        width: 100%;
        max-width: 250px;
        height: 100%;
        z-index: 10;
      }

      .circle {
        left: 0;
        top: 20%;
      }

      .dots {
        top: 0;
        right: 10%;
      }
    }

    .investments__text {
      width: 80%;

      span {
        display: inline-block;
        background-color: bg(purple-light);
        padding: 0.6rem 1.5rem;
        border-radius: 2rem;
        color: text(purple);
        font-weight: 500;
        margin-bottom: 2rem;
      }

      h2 {
        font-size: 3rem;
        margin-bottom: 1.5rem;
      }

      p {
        margin-bottom: 1.5rem;
      }

      #learn-more-btn {
        color: text(purple);
      }

      #learn-more-btn:hover {
        border-bottom: 5px solid bg(purple-light);
      }
    }
  }
}

section#saver {
  .wrapper {
    display: flex;

    .saver-left {
      flex: 0 0 60%;
      background-color: bg(blue);
      padding: 6rem 1rem;

      .content {
        max-width: 480px;
        margin: 0 auto;

         h2 {
           color: #fff;
           font-size:3rem;
           margin-bottom: 1.2rem;
         }

         p {
           color: #fff;
           margin-bottom: 2.5rem;
         }

         #meet-btn {
           color: #fff;
           display: flex;
           align-items: center;

           &:hover {
             margin-left: 0.5rem;
           }

           img {
             width: 30px;
             margin-right: 0.5rem;
           }
         }
       }
     }
    

    .saver-right {
      flex: 0 0 40%;
      background: url('../images/saver.png') no-repeat center center/cover;
    }
  }
}

section#customers {
  padding: 8rem 0;

  .container {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    grid-gap: 2rem;
    align-items: center;

    .reviews {
      height: 400px;
      overflow-y: hidden;
      padding: 0 1rem;
      position: relative;

      &::before {        
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        z-index: 5;
        background-image: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
      }

      &::after {
        content: " ";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        z-index: 5;
        background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
      }

      .reviews__box {

        animation: slide 30s linear infinite;

        .review__single {
          background-color: bg(light);
          padding: 1.5rem;
          margin-bottom: 1rem;

          .date {
            font-size: 0.78rem;
            text-align: right;
            margin-bottom: 1rem;
          }

          .review__content {
            display: flex;
            gap: 0.8rem;

            .profile {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
            }

            .review__text {
              .review__name {
                display: inline-block;
                font-weight: 700;
                font-size: 0.8rem;
                margin-bottom: 1rem;
              }

              p {
                font-size: 0.78rem;
                line-height: 1.8;
              }
            }
          }
        }
      }
    }

    .customers__text {
      h3 {
        font-size: 2.2rem;
        margin-bottom: 1.5rem;
      }

      p {
        margin-bottom: 1.5rem;
        max-width: 400px;
      }

      .buttons {
        .dark-btn {
          margin-bottom: 1.5rem;
        }
        .btn-group {
          display: flex;

          .btn {
            margin-right: 1rem;
            display: flex;
            align-items: center;
            padding: 0.6rem 1.2rem;
            font-size: 0.9rem;

            &:hover {
              transform: translateY(-3px);
            }

            img {
              width: 20px;
              margin-right: 0.5rem;
            }
          }
        }
      }
    }
  }
}

@keyframes slide {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-350px);
  }
}